.btn{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background-color:#ABCDEF;
    background-position: center;
    background-size: cover;
     height: 180vh;
    animation:infinite;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.video-box {
    width: 100%;
    max-width: 720px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.menu{
    width: 400px;
    float: left;
    height: 100px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 35px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: GREEN;
    font-family: Aria;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #fff;
}

.search{
    width: 320px;
    float: left;
    margin-left: 270px;
}

